
end2end/m.html
end2end/m2.html
end2end/__pycache__/future_encoders.cpython-36.pyc

web_scrapper_Natal/DataSet_Natal_Clean.csv
web_scrapper_Natal/DataSet_Natal_Clean_0.csv
web_scrapper_Natal/DataSet_Natal_Clean_1.csv
web_scrapper_Natal/DataSet_Natal_Clean_2.csv
web_scrapper_Natal/DataSet_Natal_Clean_3.csv
web_scrapper_Natal/DataSet_Natal_Clean_4.csv
web_scrapper_Natal/DataSet_Natal_Clean_5.csv
web_scrapper_Natal/DataSet_Natal_Clean_6.csv
web_scrapper_Natal/DataSet_Natal_Clean_7.csv
